on: [push]

jobs:
  nix_flakes_command:
    runs-on: ubuntu-20.04
    name: Greeter
    steps:
      - uses: actions/checkout@v2
        with:
          # Nix Flakes doesn't work on shallow clones
          fetch-depth: 0
      - name: hello
        uses: calbrecht/f4s-action@test7
        with:
          nix-cmds: |
            nix run .github#hello
            cat $GITHUB_WORKSPACE/.git/config
