on: [push]

jobs:
  nix_flakes_command:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: calbrecht/f4s-action@test5
        with:
          nix-cmd: run github:calbrecht/f4s-action?dir=.github#hello
